*, .btn {font-size:12px}
/* ***** admin header ***** */
.admin_header { align-items: center; padding-right: 25px; }
.admin_header .header_btn { margin-left: 10px; border-radius: 5px; }
.admin_header .header_btn:hover {background: #000;}
.admin_header .header_btn:hover a {color:#fff;}
.admin_header span { font-size: 14px; font-weight: 500; }
.admin_header .sidebar_btn {
	display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 7px;
    }
/**************/

/* 게시물 뷰 */
/* 게시물 뷰 - top */
.source span {
    color: #ff9113;}
.source {display: flex;
    justify-content: space-between;}
    .source .b {display: flex; color:#0000008c;}
    .source .b div {margin-left: 10px;}

/* 게시물 이미지 */
#image_preview img {width: auto;
    max-height: 350px;margin: auto;
    display: flex;}
    
/* 게시물 파일 */
.data_box a {color:#0000008c}


/* 반응형 */
@media (max-width: 767.98px) {
	header.navbar { height: 35px; }
	header.navbar .navbar-brand { width: 80px;background-size: contain; }
	nav.sidebar { width: 100%;top: 35px; }
	.admin_header {padding:0px; padding-top:15px;}
	.admin_header .header_btn {width: max-content;margin-top: 8px;}
	.admin_header > div:first-child {padding: 0.25rem 0.5rem;margin-left: 5px;}
	.sidebar .nav-link {height: 20px;
    align-items: center;
    display: flex;}
    .btn-toggle:hover, .btn-toggle:focus {width:100%}
}

/* table_top */
.table_top {display: flex;}

.paging .pagination .page-item {padding:0px;}

/*  search  */
.search_box {display: flex;
    justify-content: flex-end;
    align-items: center;padding: 0;}

  .search_box .pet_btn {margin-left:6px}
  .search_box option {padding: 4px;
  font-size: 14px;
  color: #fff;
  background: #272822;}
.option_box {display: flex;
    justify-content: flex-end;
    align-items: center;}

/* ***** not_admin 관리자가 아닐때 ***** */
.not_admin {
	display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transform: translate(0%, 100%);
    position: relative;
}
.not_admin h2 {margin-bottom: 5vw;}
.not_admin h2 span {
	font-size: 14px;
    color: #a8a8a8;
    font-weight: 400;
}
.not_admin button {
	width: max-content;
    margin: auto;
    border-radius: 20px;
}
.not_admin button a {
	font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    color: #333;
    display: flex;
    padding: 10px 30px;
}
/**************/




/* search */
.ad_card .table_top .search_box {display: flex;
    align-items: center;}


.card-body {
	padding: 20px;
}

.card-body .admin_page li {
	padding: 0px;
} 

#articleContentArea {
	border: 1px solid #ced4da;
	border-radius: 0.375rem;
	max-height: 150px;
	background: #ffffff;
	margin-top: 20px;
	min-height: 150px;
	text-align: center;
	overflow: auto;
}

/* 기본카드 스타일 */
.ad_card {
	margin: 30px auto auto;
	width: 80%;
    max-width: 800px;
    min-width: 300px;
  border: 1px solid #E1E3E6;
  box-shadow: 0px 8px 24px -4px rgba(27, 46, 94, 0.08);
  border-radius: 8px;
}
/* 기본 카드 nav 스타일 */
.ad_card_nav {

}
.ad_card_nav .nav-link {
  color: #333;
}
.ad_card_nav .nav-link:hover {
  font-weight: bold;
  border-bottom: 2px solid red;
}

.ad_seach_top .dropdown-toggle.ad_dropdown {
	border: 1px solid #ced4da;
    background: #fff;
    color: #212529;
    height: 100%;
    margin-right: 4px;
}


.ad_seach_top ul {
	display: flex;
	justify-content: end;
}
.ad_seach_top .admin_search {
	    max-width: 300px;
    float: right;
    border: 1px solid #ced4da;
    border-radius: 4px;
}
.ad_seach_top .admin_search input {
	border:none;
}
.ad_seach_top .admin_search .admin_btn {
	background: #ced4da;
    border-radius: 4px;
}
.ad_seach_top .admin_search .admin_btn button a {
	text-decoration: none;
    color: #000;
}



header {
  /* width: 75%; */
  height: 75px;
  /* margin-left: 25%; */
  position: fixed;
}

.side_header {
  height: 60px;
}

.feather {
  width: 16px;
  height: 16px;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 75px;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

/* menu */
.dropdown-toggle { outline: 0; }

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #f4dfd2;
}

.btn-toggle::before {
  width: 1.25em;
  /* background-color: red; */
  line-height: 0;
  /* content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e"); */
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.align-text-bottom {
  margin-right: 5px;
}


.btn-toggle[aria-expanded="true"] {
  color: rgb(230, 88, 28);
  background-color: #fff;
  width: 100%;
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #f4dfd2;
}

.scrollarea {
  overflow-y: auto;
}

/* **** */



@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

.navbar-brand {
  height: 100%;
  padding-top: .75rem;
  padding-bottom: .75rem;
  /* background-color: rgba(0, 0, 0, .25); */
  /* box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25); */
  color: black;
  background-image: url(../images/logo3.png);
  background-repeat: no-repeat;
  background-size: inherit;
  background-position: center;
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/* ***** ad_button - admin_btn ***** */

.ad_button {
	margin-top: 30px; justify-content: center;}

.ad_button .admin_btn {
	text-decoration: none;
    color: #333;
}

.ad_button .admin_btn:hover {
    color: #FFF;
}

/* ***** user detail page ***** */
.user_detail li { display:flex }
.user_detail li p:first-child { font-weight: bold; }

/* ***** user_table 유저테이블 ***** */
.user_table .type_box > div {
	display: flex;
    width: fit-content;
    padding: 2px 6px;
    border-radius: 4px;	
}
/* 관리자별 박스 컬러 */
.user_table .type_box > div.admin10 { background:#ffb9b9 }
.user_table .type_box > div.admin9 { background:#ffe0c0 }
.user_table .type_box > div.admin1 { background:#d6fff2 }



/* detail btnSet > btn */
.btnSet {display: flex;
    justify-content: center;}
    .btnSet .btn {margin-right: 5px;}
    .btnSet .btn:last-child {margin: 0px;}
    
.comment_container .box textarea {width:calc(100% - 46px);border: 1px solid #ccc;border-radius: 5px;}
.comment_container .box {display: flex;
    justify-content: space-between;
    align-items: center;}
    .comment_container {padding:20px;}
